@media screen and (max-width:1000px){
    header{
        background: url("./images/Ellipse\ 1.svg"), url("./images/Circle\ 6.svg"), url("./images/mobil1.png"), url("./images/Circle\ 5.svg");
        background-repeat: no-repeat;
        background-position: -60px -60px, 390px 200px, right 105px, 460px 760px;
        .container{
            nav{
                padding: 0px 32px;
              .nav2{
                .nav2-button{
                    display: none;
                }
              }  
            }
            .hero1{
                padding: 0px 32px;
                .hero{
                    .hero-right{
                        position: relative;
                        .hero-img1{
                            img{
                                width: 115%;
                            }
                        }  
                        .hero-img2{
                            img{
                                width: 112%;
                            }
                        } 
                        .hero-img3{
                            top: 175px;
                            left: 32px;
                            img{
                                width: 96%;
                            }
                        }
                        .hero-img5{
                            top: 460px;
                            left: 65px;
                            img{
                                width: 90%;
                            }
                        }  
                        .hero-img7{
                            top: 274px;
                            img{
                                width: 95%;
                            }
                        }  
                    }
                }
            }
        }
    }
}