@media screen and (max-width: 872px) {
  header {
    background: url("./images/mobil1.png"), url("./images/mobil2.png"), url("./images/mobil3.png"), url("./images/mobil4.png");
    background-repeat: no-repeat;
    background-position: right 116px, 237px 319px, 311px 450px, right 722px;
    overflow: initial;
  }
  header .container {
    max-width: 311px;
  }
  header .container nav .nav-fixed {
    display: block;
  }
  header .container nav #burger:checked + .nav1-ul {
    display: block;
  }
  header .container nav #burger:checked + .nav1-ul ul {
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 310px;
    gap: 100px;
    background-color: white;
    max-width: 300px;
    padding: 30px 0px;
  }
  header .container nav #burger:checked + .nav1-ul ul li {
    width: 1vw;
  }
  header .container nav .nav1 .nav1-logo {
    gap: 15px;
  }
  header .container nav .nav1 .nav1-logo .nav1-logo-img {
    max-width: 27px;
    width: 100%;
  }
  header .container nav .nav1 .nav1-logo p {
    font-size: 19.4px;
  }
  header .container nav .nav1 .nav1-ul {
    display: none;
  }
  header .container nav .nav2 .nav2-button {
    display: none;
  }
  header .container .hero1 .hero {
    flex-wrap: wrap;
  }
  header .container .hero1 .hero .hero-left {
    max-width: 276px;
  }
  header .container .hero1 .hero .hero-left p {
    font-size: 60px;
  }
  header .container .hero1 .hero .hero-left h4 {
    max-width: 230px;
    font-size: 16px;
  }
  header .container .hero1 .hero .hero-left .hero-buttons .hero-button1 a {
    padding: 23px 46px;
  }
  header .container .hero1 .hero .hero-left .hero-buttons .hero-button2 {
    width: 64px;
    height: 64px;
    border-radius: 16px;
    border: 1px solid var(--stroke-super-light, #E3E6E9);
    padding-left: 20px;
  }
  header .container .hero1 .hero .hero-left .hero-buttons .hero-button2 h5 {
    display: none;
  }
  header .container .hero1 .hero .hero-right .hero-img1 {
    max-width: 342px;
    top: 0px;
    left: 0px;
  }
  header .container .hero1 .hero .hero-right .hero-img1 img {
    width: 100%;
  }
  header .container .hero1 .hero .hero-right .hero-img2 {
    max-width: 292px;
    top: 10px;
    left: 10px;
  }
  header .container .hero1 .hero .hero-right .hero-img2 img {
    width: 100%;
  }
  header .container .hero1 .hero .hero-right .hero-img3 {
    max-width: 250px;
    top: 65px;
  }
  header .container .hero1 .hero .hero-right .hero-img3 img {
    width: 100%;
  }
  header .container .hero1 .hero .hero-right .hero-img6 {
    top: 20px;
    left: 210px;
    max-width: 110px;
  }
  header .container .hero1 .hero .hero-right .hero-img6 img {
    width: 100%;
  }
  header .container .hero1 .hero .hero-right .hero-img7 {
    max-width: 100px;
    top: 130px;
    left: -60px;
  }
  header .container .hero1 .hero .hero-right .hero-img7 img {
    width: 100%;
  }
  header .container .hero1 .hero .hero-right .hero-img5 {
    max-width: 212px;
    top: 270px;
    left: 54px;
  }
  header .container .hero1 .hero .hero-right .hero-img5 img {
    width: 100%;
  }
  header .container .hero1 .hero .hero-right .hero-img4 {
    max-width: 40px;
    left: 0px;
    top: 270px;
    left: 256px;
  }
  header .container .hero1 .hero .hero-right .hero-img4 img {
    width: 100%;
  }
}/*# sourceMappingURL=style_mobile.css.map */